@font-face
{
    src: url("Font/Kanit-Regular.ttf");
}

@font-face
{
    src: url("Font/Kanit-Light.ttf");
}

@font-face
{
    src: url("Font/Kanit-SemiBold.ttf");
}

*{
    lavender : #CEBDF2;
    violet : #CEB3F2;
    lightblue : #B6D6F2;
    mauve : #EFD5F2;
    midnightblue : #474073;
}

#backgroundPane, #suggestBackground, #userBackground, #officerBackground, #createAccountBackground,#adminBackground, #userDurableBackground, #adminChangeBackground, #borrowReturnBackground, #addMaterialsBackground, #addDurablesBackground, #officerChangeBackground, #userChangeBackground, #userBorrowBackground, #MaterialListBackground, #durableListBackground, #withdrawBackground
{
    -fx-background-color: lavender;
}

#infoBackground, #userSystemBackground, #historyBackground
{
    -fx-background-color: lavender;
}

#loginPane, #crateAccountPane, #adminChangePane, #addMaterialsPane, #addDurablesPane, #officerChangePane, #userChangePane, #userBorrowPane
{
    -fx-background-color: mauve;
    -fx-background-radius: 15;
}

#officerMenuPane,#adminPane
{
    -fx-background-color: mauve;
}

#welcomePane
{
    -fx-background-color: transparent;
}

#welcomeLabel ,#usernameLabel ,#passwordLabel ,#createLabel, #createAccountNameLabel, #createAccountUsernameLabel, #createAccountPasswordLabel, #createConfirmPasswordLabel, #officerChangePasswordLabel, #officerOldPassword, #officerNewPassword, #officerConfirmPassword,
#userChangePasswordLabel, #userOldPassword, #userNewPassword, #userConfirmPassword, #catagoryDurableLabel, #durableIdLabel, #durablesNameLabel, #durableStatusLabel, #storageLocationLabel, #datePurchase, #timePurchase, #borrowerName, #dateBorrow, #timeBorrow, #categoryLabel, #idLabel, #nameLabel, #statusLabel,
#locationLabel, #datepurchaseLabel, #timepurchaseLabel, #borrowerLabel, #dateborrowLabel, #timeborrowLabel,#roleLabel, #timeLabel, #roleAdminLabel,#nameAdminLabel, #usernameAdminLabel, #timeAdminLabel, #durableLabel, #durableBLabel, #locationBLabel
{
    -fx-font-family: "Kanit Light";
    -fx-font-size: 12;
    -fx-text-fill: midnightblue;
}

#detailsLabel, #remainderLabel, #addAmountLabel, #timeRequest, #durableName, #borrowerRLabel, #durableRLabel, #timeRLabel, #borrowerBLabel, #timeBLabel, #amountLabel, #enterLabel, #requestLabel, #requisitionDateLabel, #withdrawLabel, #dateLabel
{
    -fx-font-family: "Kanit Light";
    -fx-font-size: 12;
    -fx-text-fill: midnightblue;
}

#programName ,#comebackLabel, #suggestLabel, #durableArticle, #materialListLabel, #UserActivity, #addDurableLabel, #addMaterialsLabel
{
    -fx-font-family: "Kanit SemiBold";
    -fx-font-size: 24;
    -fx-text-fill: midnightblue;
}
#borrowLabel, #returnLabel, #MaterialHistory, #historyLabel, #MaterialWithdraw
{
    -fx-font-family: "Kanit SemiBold";
    -fx-font-size: 20;
    -fx-text-fill: midnightblue;
}

#adminChangePassword, #durableListLabel
{
    -fx-font-family: "Kanit SemiBold";
    -fx-font-size: 24;
    -fx-text-fill: midnightblue;
}

#officerRoleLabel, #officerNameLabel, #officerUsernameLabel, #officerTimeLabel, #roleOfficerLabel, #nameOfficerLabel, #usernameOfficerLabel, #timeOfficerLabel, #userRoleLabel, #userNameLabel, #userUsernameLabel, #userTimeLabel, #roleUserLabel, #nameUserLabel, #usernameUserLabel, #timeUserLabel
{
    -fx-font-family: "Kanit SemiBold";
    -fx-font-size: 18;
    -fx-text-fill: midnightblue;
}

#createAccountButton ,#infoButton ,#suggestButton, #changeProfile, #myDurable, #myMaterials, #durableList, #officerBorrowReturn,#officerChangeProfile, #officerDurablesList, #officerMaterialsList, #adminChangePassword, #adminUser, #adminCreateOfficer, #adminUpload,
#officerAddMaterials, #officerAddDurables
{
    -fx-font-family: "Kanit Light";
    -fx-font-size: 12;
    -fx-text-fill: midnightblue;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#loginButton, #createAccount2Button, #adminApply, #officerApplyButton, #userApplyButton
{
    -fx-font-family: "Kanit Light";
    -fx-font-size: 18;
    -fx-text-fill: violet;
    -fx-background-color: midnightblue;
    -fx-border-radius: 10;
    -fx-background-radius: 50;
}

#borrowPermit, #returnPermit, #addMaterialsButton, #addDurablesButton, #userConfirmButton, #withdrawButton, #addButton, #searchButton, #returnButton
{
    -fx-font-family: "Kanit Light";
    -fx-font-size: 12;
    -fx-text-fill: violet;
    -fx-background-color: midnightblue;
    -fx-border-radius: 10;
    -fx-background-radius: 50;
}

#imagePane
{
    -fx-background-color: mauve;
    -fx-background-radius: 15;
}

#themeChooser
{
    -fx-font-family: "Kanit Regular";
    -fx-font-size: 12;
    -fx-text-fill: midnightblue;
    -fx-background-color: lightblue;
    -fx-background-radius: 50;
}

#backButton, #backInfoButton, #logOutButton, #officerLogOut, #userSystemBack, #durableListBack, #createBackButton, #adminBackButton, #userDurableBack, #adminChangeBack, #borrowReturnBack, #addMaterialsBack, #addDurablesBack, #officerChangeBackButton, #userChangeBackButton, #userBorrowBack, #materialListBackButton
{
    -fx-font-family: "Kanit Light";
    -fx-font-size: 14;
    -fx-text-fill: midnightblue;
    -fx-background-color: lightblue;
    -fx-border-radius: 10;
    -fx-background-radius: 50;
}

#dev1, #dev2, #dev3
{
    -fx-background-color: mauve;
    -fx-background-radius: 15;
}

#devPane, #userSystemPane
{
    -fx-background-color: midnightblue;
}

#infoLabel
{
    -fx-text-fill: midnightblue;
}

#userMenuPane
{
    -fx-background-color: mauve;
}

#userTable, #officerTable, #userSystemTable,#adminTable, #durableTableView, #materialTableView, #borrowTable, #withdrawTable, returnTable, #withdrawLogTable, #materialsLogTable, #returnTable
{
    -fx-background-color: lightblue;
    -fx-font-family: "Kanit Light";
    -fx-font-size: 12;
    -fx-background-radius: 15;
}

#userSystemLabel
{
    -fx-font-family: "Kanit SemiBold";
    -fx-font-size: 24;
    -fx-text-fill: violet;
}

#adminNewPassword, #adminOldPassword, #adminCheckPassword
{
    -fx-font-family: "Kanit Light";
    -fx-font-size: 12;
    -fx-text-fill: midnightblue;
}

#borrowListView, #returnListView, #addMaterialsListView, #addDurablesListView
{
    -fx-background-color: lightblue;
    -fx-background-radius: 15;
}